body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 40px;
    background-image: url("tatami.jpg");
    background-size: cover;

    background-color: rgb(137, 219, 144);
    
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    }
header{
    background-color: rgb(28, 83, 31);
    border-bottom: 1px solid #ccc;
    text-align: center;
}
main{
    border-bottom:1px solid #ccc;
    
}
footer{
    background-color: rgb(28, 83, 31);
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:300%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
    
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* ��` */
    table-layout: fixed;
    width:100%;
}
li{
    text-align: center;
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* ��` */
    cursor: pointer;
}
li:hover{
    background: rgb(28, 83, 31);
    color:rgb(255, 255, 255);
}